
#display{
    margin: auto;
    width: 130px;
    height: 30px;
    background-color: rgba(51, 204, 13, 0.979);
}
#calculadora {
    align-items: center;
    display:block;
    text-align: center;
}
.num{
    width: 35px;
    background-color: #eeeeee;
    display: inline-block;
    margin: 3px 0px 8px 3px;
    vertical-align: bottom;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    
}
.opera{
    width: 35px;
    background-color: #eeeeee;
    vertical-align: bottom;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 3px 0px 8px 3px;
}