
.botoes1{
    
    display: block;
}
.botoes2{
    
    display: block;

}
.botoes3{
   
    display: block;
}
.zero{
    
    display: block;
}
div.display{
    margin: auto;
    width: 110px;
    height: 18px;
    background-color: blue;
}
div.alinhamento{
    align-items: center;
}
div.alin{
    text-align: center;
    width: 100%;
}