body{
    text-align: center;
}
.botoes1{
    text-align: center;
    display: block;
}
.botoes2{
    text-align: center;
    display: block;

}
.botoes3{
    text-align: center;
    display: block;
}
.zero{
    text-align: center;
    display: block;
}
.op{ 
      display: inline;

}